@import '_variables.scss';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@use "sass:color";
// 3. Using interpolation for comments
/**
bootstrap-demo-solo Color Palette:
Primary: #{$primary-color};
Secondary: #{$secondary-color};
**/
$primary-color: #660000;
$secondary-color: #ffffe6;
$font-body: Times, serif;
$font-headings: Arial, sans-serif;


@mixin hoverChange ($color){
  font-size: 110%;
  color: $color;
}

body {
  background: $secondary-color;
  color: black;
  font-family: $font-body;
}

.nav {
    background: $primary-color;
  a{
    color: $secondary-color;
  }
  a:hover {
    @include hoverChange(#ffff00);
  }
  margin-bottom: 3px;
}

h1 {
  text-shadow: 2px 2px 4px #bfbfbf;
  font-family: $font-headings;
}

.buttons-custom{
  background: black;
  color: white;
  border-radius: 35px;
  border: 2px solid orange;
}
//  1. Extends buttons-custom styling
.btn-lrg {
  @extend .buttons-custom
}

footer {
  background-color: $primary-color;
  color: white;
  padding: 4px;
  text-align: center;
}
// 2. Using operators
  margin-top: 2rem * 1.5;
  margin-bottom: 2rem * 2;

}
